body{
    padding-top: 76px;
    margin-bottom: 500px;
}
.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.icone {
    height: 6rem;
}

#blockquote-bg {
    background-image: url(../img/bg-quote.jpg);
    background-size: cover;
    max-height: 100%;
}

@media (max-width: 768px){
    .citacao-font {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 0;
    }

    .fixed-top {
        position: relative;
    }
}